
input{
    color:rgb(255, 255, 255);
    background-color:black;
    border-radius: 10px;
    box-sizing: 400px;
    width: 100px;
    height: 100px;
    font-size: 50px;
}

.calculator{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.slass{
    width: 25px;
    width: 100px;
    height: 100px;
}

.dot{
    width: 24px;
    width: 100px;
    height: 100px;
}

.display-box{
    width: 300px;
    height: 93px;
}